/* hide the contents view here */
.content-page ul.content-list .row {
    visibility: visible;
}
/* ends here */
.content-list-wrapper > .wrapper {
    padding: 20px;
}
.content-list-wrapper > .wrapper ul.content-list .row {
    margin-bottom: 20px;
}
.content-list-wrapper > .wrapper ul.content-list .row .row-header {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: none;
}

.content-list-wrapper > .wrapper ul.content-list .row.quiz-panel .row-header .header-title {
    width: 90px;
}
.content-list-wrapper > .wrapper ul.content-list .row.quiz-panel .wrapper > div.button-container {
    width: 100%;
    margin-left: -90px;
}
.content-list-wrapper > .wrapper ul.content-list .row.quiz-panel .wrapper > div.button-container .wrapper {
    margin-left: 90px;
    margin-top: 3px;
    margin-right: 5px;
}

.content-list-wrapper > .wrapper ul.content-list .row .other-apps a {
    padding: 5px;
}
.content-list-wrapper > .wrapper ul.content-list .row.only-title .row-header .other-apps a {
    padding: 0px;
    cursor: default;
}

.content-list-wrapper > .wrapper ul.content-list .row.quiz-panel .row-header .other-apps {
    margin-left: 10px;
    max-width: 140px;
}

.content-list-wrapper > .wrapper ul.content-list .row ul {
    padding: 0px 20px 20px 20px;
    min-height: 269px;
}
.content-list-wrapper > .wrapper ul.content-list .row ul li {
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
}
.content-list-wrapper > .wrapper ul.content-list .row ul li:last-child {
    margin-right: 0px;
}
.content-list-wrapper > .wrapper ul.content-list .row ul li a {
    color: rgb(255, 255, 255)
}
.content-list-wrapper > .wrapper ul.content-list .row ul li .img-container {
    width: 180px;
    height: 180px;
    padding: 10px;
}
.content-list-wrapper > .wrapper ul.content-list .row ul li img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
}
.content-list-wrapper > .wrapper ul.content-list .row ul li .subject-name {
    margin: 0px;
    max-width: 202px;
    max-height: 26px;
    line-height: 29px;
    overflow: hidden;
    color: #000000;
}

.upload-container {
    position: relative;
    overflow: hidden;
    height: 40px;
}
.upload-container > .upload-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
}
.upload-container > .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0;
}