/* quiz overlay */
.quiz .overlay {
    width: 98%;
    height: 94%;
    background: rgb(255, 255, 255);
}

header.q-o-header {
    padding: 10px;
    background: #E1E1E1;
}

header.q-o-header.two-column > div:last-child > .wrapper {
    margin-left: 0px;
}

header.q-o-header.two-column > div:last-child > .wrapper .title {
    font-size: 18px;
    margin: 12px 0px;
}

header.q-o-header .a-container {
    width: 160px;
}

section.q-o-section ul.question-types {
    height: 900px;
}
section.q-o-section ul li.question-type > div {
    display: inline-block;
    vertical-align: middle;
}

section.q-o-section ul li.question-type {
    padding: 10px;
}

section.q-o-section ul li.question-type .img-container {
    width: 50px;
    margin-right: 10px;
}

section.q-o-section ul.question-number-list {
    padding: 15px 15px 0px 15px;
    min-height: 62px;
}

#take-quiz-mask section.q-o-section ul.question-number-list li {
    background: #E1E1E1;
    color: #000;
}
section.q-o-section ul.question-number-list li {
    display: inline-block;
    padding: 10px 17px;
    margin: 0px 0px 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

section.q-o-section .wrapper-inner {
    padding: 20px;
    background: #E1E1E1;
}

section.q-o-section .current-question-panel > .wrapper {
    padding: 20px;
}

section.q-o-section .wrapper-inner .question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area {
    background: rgb(255, 255, 255);
    min-height: 230px;
    padding: 10px;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area .editable span.answer {
    padding: 5px;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area .options-container {
    margin-top: 20px;
    padding: 20px;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area .options-container li,
section.q-o-section .wrapper-inner .question-section .question-box div.question-area .options-container li > span {
    display: inline-block;
    vertical-align: middle;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area .options-container li {
    margin: 10px 10px 0px 0px;
}

section.q-o-section .wrapper-inner .question-section .question-box div.question-area .options-container li input[type='text'] {
    font-size: 20px;
}

section.q-o-section .question-footer {
    margin-top: 20px;
}

section.q-o-section .question-footer .other-apps {
    margin-right: 20px;
    margin-bottom: 20px;
}

/* match the following */
.match-the-following ul li > div span {
    display: block;
    padding: 10px;
}

.match-the-following .title-row {
    font-size: 24px;
}

.match-the-following .add-new-row {
    margin-left: 20px;
}

.match-the-following ul li:last-child {
    border: none;
}

.match-the-following ul li > div {
    width: 50%;
}

.match-the-following ul li input {
    font-size: 20px;
}

.match-answer > div.fixed {
    width: 71px;
    position: relative;
    z-index: 1;
}

.match-answer > div.flexible {
    width: 100%;
    margin-left: -71px;
}

.match-answer > div.flexible > .wrapper {
    margin-left: 71px;
}

.match-answer div.fixed span {
    padding: 11px;
}

.marks {
    float: left;
}
.marks label {
    vertical-align: middle;
    font-weight: bold;
    display: inline;
}

.marks input {
    display: inline;
    width: 3em;
    padding: .5em;
    font-size: 1.3em;
    vertical-align: middle;
}
.color-set li {
    color: white;
}
.color-set li[data-type="fill-the-blanks"] {
    background: #16A085;
}
.color-set li[data-type="multiple-options"] {
    background: #3498DB;
}
.color-set li[data-type="match-the-following"] {
    background: #e74c3c;
}

.fill-blank.question-area textarea.ng-invalid {
    border: solid 2px #FA787E;
}

.fill-blank.question-area textarea.ng-valid.ng-dirty {
    border: solid 2px #78FA89;
}
.take-question-area .question-box {
    padding: 20px;
}
.take-question-area .question-box input.answer-block {
    display: inline;
    width: auto;
    font-size: 18px;
    padding: 3px;
    border-bottom: 1px solid darkgray ! important;
}
.take-question-area .question-box input.answer-block::-webkit-input-placeholder {
    color: gray;
}

.take-question-area .question-box input.answer-block:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

.take-question-area .question-box input.answer-block::-moz-placeholder {  /* Firefox 19+ */
    color: gray;
}

.take-question-area .question-box input.answer-block:-ms-input-placeholder {
    color: gray;
}

.take-question-area .table {
    max-width: 800px;
    margin: 20px auto;
}
.take-question-area .table > .wrapper > div {
    width: 50%;
}
.take-question-area .table > .wrapper .wrapper {
    padding: 10px;
    border-bottom: 1px solid darkgray;
    height: 45px;
    overflow: hidden;
}

.take-question-area .table > .wrapper:last-child .wrapper {
    border-bottom: none;
}
.take-question-area .table .dragging {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid darkgray;
}
.take-question-area .table .drag-enter {
    background: rgb(225,225,225);
}

.take-question-area ul li.option {
    padding: 8px;
}
#take-quiz-mask section.q-o-section ul.question-number-list li {
    border-width: 5px;
}
#take-quiz-mask section.q-o-section ul.question-number-list li[data-answered='true'] {
    border-color: #6D6E71;
}
