.table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table td {
    border: solid 1px #ccc;
}
.table tr th {
    text-align: center;
}

.table tr td, .table tr th {
    padding: 5px;
}