<div class="mask quiz" id="create-quiz-mask" quiz-panel>
    <div class="overlay">
        <div class="container">
            <div class="overlay-container">
                <a href="#/grades/{{current_grade}}/subject/{{current_subject}}/{{current_chapter}}/" class="close a-container" id="close-overlay" ng-click="closeOverlay($event)">X</a>
                <!-- put your content here -->
                <div id="add-new-quiz-content" class="c-q-overlay border-left border-right">
                    <header class="q-o-header two-column resize-mobile border-bottom clear">
                        <div class="a-container header-logo fixed left">
                            <img src="image/logo.png" alt="logo"/>
                        </div>
                        <div class="flexible t-center right">
                            <div class="wrapper">
                                <p class="title">Create your Quiz here</p>
                            </div>
                        </div>
                    </header>
                    <section class="q-o-section">
                        <div class="wrapper two-column clear">
                            <div class="question-type-panel fixed left m-no-left">

                                <ul class="question-types">
                                    <li ng-class="currentQuestionType === question.type ? 'question-type border-bottom highlight' : 'question-type border-bottom'" data-type="{{question.type}}" ng-repeat="question in questionTypes" ng-click="selectQuestionType(question.type)">
                                        <div class="img-container">
                                            <img src="images/topics/grey/g-sound.png" alt="{question.image}"/>
                                        </div>
                                        <div class="question-name">{{question.name}}</div>
                                    </li>
                                </ul>

                            </div>
                            <div class="question-panel flexible left  m-no-left">
                                <div class="wrapper border-left">

                                    <div class="other-questions border-bottom">
                                        <ul class="question-number-list  color-set t-center">
                                            <li ng-class="$index == selectedQuestion ? 'question-number highlight border' : 'question-number border'" data-type="{{question.type}}" ng-repeat="question in quizJson.questions" ng-click="selectQuestion($index)">{{$index + 1}}</li>
                                        </ul>
                                    </div>

                                    <div class="current-question-panel">
                                        <div class="wrapper">
                                            <div class="wrapper-inner border">
                                                <header class="question-header">
                                                    <div class="marks">
                                                        <label>Marks:</label>
                                                        <input type="number" ng-model="currentQuestion.marks" />
                                                    </div>
                                                    <div ng-if="currentQuestionType == 'fill-the-blanks'" class="other-apps theme-orange-bg right">
                                                        <a href="" class="a-container" ng-click="addBlank(selectedQuestion)">
                                                            <div class="img-container">
                                                                <img src="image/otherapps.png" alt="Add Blank"/>
                                                            </div>
                                                            <span>Add Blank</span>
                                                        </a>
                                                    </div>
                                                </header>

                                                <section class="question-section">
                                                    <div class="question-box border">
                                                        <div ng-include src="'partials/question-templates/fill-the-blanks.html'" ng-if="currentQuestionType == 'fill-the-blanks'"></div>
                                                        <div ng-include src="'partials/question-templates/multiple-option.html'" ng-if="currentQuestionType == 'multiple-options'"></div>
                                                        <div ng-include src="'partials/question-templates/match-the-following.html'" ng-if="currentQuestionType == 'match-the-following'"></div>
                                                    </div>
                                                </section>
                                            </div>

                                            <footer class="question-footer clear">
                                                <div class="other-apps theme-orange-bg save-question-button left" ng-click="previousQuestion()" ng-hide="isFirstQuestion()">
                                                    <a href="" class="a-container">
                                                        <div class="img-container">
                                                            <img src="image/prev.png" alt="Previous Question"/>
                                                        </div>
                                                        <span>Previous Question</span>
                                                    </a>
                                                </div>
                                                <div class="other-apps theme-orange-bg save-question-button right" ng-click="addQuestion()">
                                                    <a href="" class="a-container">
                                                        <div class="img-container">
                                                            <img src="image/next.png" alt="Next Question"/>
                                                        </div>
                                                        <span>Next Question</span>
                                                    </a>
                                                </div>
                                                <div class="other-apps theme-orange-bg right download-quiz-button">
                                                    <a href="" class="a-container" download="quiz.json" ng-click="download()" id="download-json">
                                                        <div class="img-container">
                                                            <img src="image/download.png" alt="Download Quiz"/>
                                                        </div>
                                                        <span>Download Quiz</span>
                                                    </a>
                                                </div>
                                            </footer>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
