<div class="multiple-options question-area">
    <div ng-class="currentQuestion.question.length <= 10 ? 'input-container border error' : 'input-container border'">
        <textarea name="question" id="question" cols="30" rows="4" maxlength="500" placeholder="Type your question here" ng-model="currentQuestion.question"></textarea>
    </div>
    <div class="options-container border">
        <div class="other-apps theme-orange-bg">
            <a href="" class="a-container" ng-click="addRow()" id="download-json">
                <div class="img-container">
                    <img src="image/download.png" alt="Download Quiz"/>
                </div>
                <span>Add an option</span>
            </a>
        </div>
        <ul class="options">
            <li ng-class="!option.value.trim() || currentQuestion.answer.length == 0 ? 'option border t heme-gray error' : 'option border theme-gray'" ng-repeat="option in currentQuestion.options">
                <span class="input-container"><input type="text" maxlength="50" class="input" placeholder="Type your choice here" ng-model="option.value" required ng-trim="true"/></span>
                <span class="input-container"><input type="checkbox" ng-model="option.answer" class="checkbox" data-index="{{$index}}"/></span>
                <span class="input-container theme-orange-bg" ng-click="deleteRow($index)"><span class="delete">Delete</span></span>
            </li>
        </ul>
    </div>
</div>