<div class="topics-view">
  <div id="head">

    <div style="width:100%">
      <a id="link" href="/">
	<img id="logo" src="images/Balaswecha.png" alt="logo" align="center">
      </a>
    </div>
    <div id="icons">
      <div ng-repeat="subject in subjects" id="{{subject.name | lowercase}}-block" class="sub-block">
        <a ng-if="isCurrentSubject(subject.name)" style="background-color: {{subject.color}};background-image: url('images/white/{{subject.id}}.png')" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-img"></a>
        <a ng-if="isNotCurrentSubject(subject.name)" style="background-image: url('images/white/{{subject.id}}.png')" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-img"></a>
        <a ng-if="isCurrentSubject(subject.name)" style="color: {{subject.color}}" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-text">{{subject.name}}</a>
        <a ng-if="isNotCurrentSubject(subject.name)" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-text">{{subject.name}}</a>
      </div>
    </div>
    <!-- <div id="icons">
      <div ng-repeat="subject in subjects" id="{{subject.name | lowercase}}-block" class="sub-block">
        <a id="{{subject.name | lowercase}}-img" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-img"></a>
        <a id="{{subject.name | lowercase}}-text" href="#/subjects/{{subject.topics_present ? '': 'single/'}}{{subject.name}}" class="sub-text">{{subject.name}}</a>
      </div>
    </div> -->

    <div id="search">
      <input type="text" id="search" ng-model="keyword" name="search" placeholder="Search app with subject, topic" />
      <a href="#/search/{{keyword}}"><button type="submit" id="search-icon" value="submit"></button></a>
    </div>
  </div>

  <div style="display:inline-block">
    <div id="side-menu">
      <div ng-repeat="item in subject" class="topics-block">
        <a ng-if="isCurrentTopic(item.name)" id="{{item.id | lowercase}}" style="background-image: url('images/blue/b-{{item.id}}.png')" href="#/subjects/{{current_subject}}/{{item.name}}" class="img-class"></a>
        <a ng-if="isNotCurrentTopic(item.name)" id="{{item.id | lowercase}}" style="background-image: url('images/grey/g-{{item.id}}.png')" href="#/subjects/{{current_subject}}/{{item.name}}" class="img-class"></a>
        <div class="topics-block-text">
          <a ng-if="isCurrentTopic(item.name)" id="text-one" href="#/subjects/{{current_subject}}/{{item.name}}" class="text-class selected-topic">{{item.name}}</a>
          <a ng-if="isNotCurrentTopic(item.name)" id="text-one" href="#/subjects/{{current_subject}}/{{item.name}}" class="text-class">{{item.name}}</a>
        </div>
        <hr class="lines">
      </div>
    </div>

    <div id="right">

      <div id="select">
        <label id="text">Apps for {{current_topic}}</label>
      </div>

      <div id="topics">

        <div ng-repeat="app in apps" id="{{app.id}}-block" class="app-block" ng-click="invokeCommand(app.exec)">
          <a style="background-image: url('images/{{current_subject | lowercase}}/{{app.id}}.png')" href="" class="app-img"> </a>
          <a  href="" class="app-text">{{app.name}}</a>
        </div>
      </div>

    </div>
  </div>
</div>
