<div class="match-the-following question-area take-question-area">
    <div class="list-container">
        <h2>Match the following</h2>
        <table>
            <tr>
                <td class="index border">Index</td>
                <td class="question border">Questions</td>
                <td class="option-answer border">Answers</td>
                <td class="answer border">Select your answer</td>
            </tr>
            <tr ng-repeat="row in currentQuestion.questions">
                <td class="index border">{{$index + 1}}</td>
                <td class="question border">{{row.question}}</td>
                <td class="option-answer border">{{row.answer}}</td>
                <td class="answer border">
                    <select name="answer">
                        <option ng-repeat="rowIndex in currentQuestion.questions" value="{{$index}}">{{$index + 1}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>